USE [master]
GO
/****** Object:  Database [QUANLYBANGIAY]    Script Date: 3/10/2018 8:35:59 PM ******/
CREATE DATABASE [QUANLYBANGIAY]
/*
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QUANLYBANGIAY', FILENAME = N'D:\QUANLYBANGIAY\QUANLYBANGIAY.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QLLKDT_log', FILENAME = N'D:\QUANLYBANGIAY\QUANLYBANGIAY_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
*/
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QUANLYBANGIAY].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QUANLYBANGIAY]
GO
/****** Object:  Table [dbo].[ADMIN]    Script Date: 3/10/2018 8:36:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ADMIN](
	[UserName] [varchar](20) NOT NULL,
	[PassWord] [varchar](50) NULL,
 CONSTRAINT [PK_Admin] PRIMARY KEY CLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[BANNER]    Script Date: 3/10/2018 8:36:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BANNER](
	[IDBanner] [int] NOT NULL,
	[TenBanner] [nvarchar](20) NULL,
	[Anh] [image] NULL,
	[LinkLK] [varchar](100) NULL,
 CONSTRAINT [PK_BANNER] PRIMARY KEY CLUSTERED 
(
	[IDBanner] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CTDDH]    Script Date: 3/10/2018 8:36:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTDDH](
	[MaDDH] [int] NOT NULL,
	[MaSP] [int] NOT NULL,
	[SoLuong] [int] NULL,
	[DonGia] [float] NULL,
 CONSTRAINT [PK_CTDDH_1] PRIMARY KEY CLUSTERED 
(
	[MaDDH] ASC,
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CTHD]    Script Date: 3/10/2018 8:36:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTHD](
	[MaHD] [int] NOT NULL,
	[MaSP] [int] NOT NULL,
	[SoLuong] [int] NULL,
	[DonGia] [float] NULL,
 CONSTRAINT [PK_CTDDH] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC,
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DANHGIA]    Script Date: 3/10/2018 8:36:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DANHGIA](
	[MaSP] [int] NOT NULL,
	[MaKH] [int] NOT NULL,
	[Rating] [varchar](5) NULL,
	[DanhGia] [nvarchar](max) NULL,
 CONSTRAINT [PK_DANHGIA] PRIMARY KEY CLUSTERED 
(
	[MaSP] ASC,
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DONDATHANG]    Script Date: 3/10/2018 8:36:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DONDATHANG](
	[MaDDH] [int] IDENTITY(1,1) NOT NULL,
	[MaKH] [int] NULL,
	[NgayDDH] [date] NULL,
	[NgayGiaoHang] [date] NULL,
	[ThanhTien] [float] NULL,
	[TinhTrang] [bit] NULL,
	[ThanhToan] [bit] NULL,
	[GhiChu] [nvarchar](50) NULL,
 CONSTRAINT [PK_DONDATHANG_1] PRIMARY KEY CLUSTERED 
(
	[MaDDH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 3/10/2018 8:36:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[MaHD] [int] NOT NULL,
	[MaKH] [int] NOT NULL,
	[NgayDat] [date] NULL,
	[NgayGiao] [date] NULL,
	[ThanhTien] [float] NULL,
	[TinhTrangHD] [bit] NULL,
	[ThanhToan] [bit] NULL,
	[GhiChu] [nvarchar](50) NULL,
 CONSTRAINT [PK_HOADON] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 3/10/2018 8:36:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MaKH] [int] IDENTITY(1,1) NOT NULL,
	[TaiKhoan] [varchar](30) NOT NULL,
	[MatKhau] [varchar](50) NOT NULL,
	[HoTen] [nvarchar](30) NULL,
	[GioiTinh] [bit] NULL,
	[NgaySinh] [date] NULL,
	[SDT] [varchar](11) NOT NULL,
	[Email] [varchar](30) NULL,
	[DiaChi] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_KHACHHANG] PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LOAI]    Script Date: 3/10/2018 8:36:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAI](
	[MaLoai] [int] IDENTITY(1,1) NOT NULL,
	[TenLoai] [nvarchar](20) NULL,
 CONSTRAINT [PK_LOAI] PRIMARY KEY CLUSTERED 
(
	[MaLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NHACC]    Script Date: 3/10/2018 8:36:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHACC](
	[MaNCC] [int] IDENTITY(1,1) NOT NULL,
	[TenNNC] [nvarchar](50) NOT NULL,
	[DiaChi] [nvarchar](200) NULL,
	[SDT] [nvarchar](11) NULL,
 CONSTRAINT [PK_NHACC] PRIMARY KEY CLUSTERED 
(
	[MaNCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SANPHAM]    Script Date: 3/10/2018 8:36:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SANPHAM](
	[MaSP] [int] IDENTITY(1,1) NOT NULL,
	[TenSP] [nvarchar](50) NOT NULL,
	[MaLoai] [int] NULL,
	[DonGia] [float] NULL,
	[MoTa] [nvarchar](max) NULL,
	[SLTon] [int] NULL,
	[MaNCC] [int] NULL,
	[NgayCapNhat] [date] NULL,
	[Anh] [varchar](50) NULL,
 CONSTRAINT [PK_SANPHAM] PRIMARY KEY CLUSTERED 
(
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[ADMIN] ([UserName], [PassWord]) VALUES (N'Duy', N'123')
INSERT [dbo].[ADMIN] ([UserName], [PassWord]) VALUES (N'Linh', N'123')
INSERT [dbo].[ADMIN] ([UserName], [PassWord]) VALUES (N'LinhD', N'123')
INSERT [dbo].[CTDDH] ([MaDDH], [MaSP], [SoLuong], [DonGia]) VALUES (1, 19, 1, 2000000)
INSERT [dbo].[CTDDH] ([MaDDH], [MaSP], [SoLuong], [DonGia]) VALUES (3, 19, 1, 2000000)
INSERT [dbo].[CTDDH] ([MaDDH], [MaSP], [SoLuong], [DonGia]) VALUES (4, 13, 1, 490000)
SET IDENTITY_INSERT [dbo].[DONDATHANG] ON 

INSERT [dbo].[DONDATHANG] ([MaDDH], [MaKH], [NgayDDH], [NgayGiaoHang], [ThanhTien], [TinhTrang], [ThanhToan], [GhiChu]) VALUES (1, 14, CAST(N'2017-08-20' AS Date), CAST(N'2017-08-21' AS Date), NULL, 0, NULL, NULL)
INSERT [dbo].[DONDATHANG] ([MaDDH], [MaKH], [NgayDDH], [NgayGiaoHang], [ThanhTien], [TinhTrang], [ThanhToan], [GhiChu]) VALUES (2, 14, CAST(N'2017-08-20' AS Date), NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[DONDATHANG] ([MaDDH], [MaKH], [NgayDDH], [NgayGiaoHang], [ThanhTien], [TinhTrang], [ThanhToan], [GhiChu]) VALUES (3, 14, CAST(N'2017-08-20' AS Date), CAST(N'2017-08-21' AS Date), NULL, 0, 0, NULL)
SET IDENTITY_INSERT [dbo].[DONDATHANG] OFF
SET IDENTITY_INSERT [dbo].[KHACHHANG] ON 

INSERT [dbo].[KHACHHANG] ([MaKH], [TaiKhoan], [MatKhau], [HoTen], [GioiTinh], [NgaySinh], [SDT], [Email], [DiaChi]) VALUES (8, N'Thanh', N'1234', N'Nguyễn Vũ Thành', 1, CAST(N'1996-12-23' AS Date), N'0916851302', N'nguyenvuthanh231296@gmail.com', N'Ung Văn Khiêm')
INSERT [dbo].[KHACHHANG] ([MaKH], [TaiKhoan], [MatKhau], [HoTen], [GioiTinh], [NgaySinh], [SDT], [Email], [DiaChi]) VALUES (12, N'Nhan Phan', N'1234', N'Phan Thành Nhân', NULL, CAST(N'1994-01-01' AS Date), N'091600101', N'ptnhan298@gmail.com', N'Tân Bình')
INSERT [dbo].[KHACHHANG] ([MaKH], [TaiKhoan], [MatKhau], [HoTen], [GioiTinh], [NgaySinh], [SDT], [Email], [DiaChi]) VALUES (14, N'Nghia', N'12345', N'Võ Trọng Nghĩa', 0, CAST(N'1996-08-13' AS Date), N'0122334455', N'nghia@gmail.com', N'Bình Thạnh')
SET IDENTITY_INSERT [dbo].[KHACHHANG] OFF
SET IDENTITY_INSERT [dbo].[LOAI] ON 

INSERT [dbo].[LOAI] ([MaLoai], [TenLoai]) VALUES (1, N'Adidas')
INSERT [dbo].[LOAI] ([MaLoai], [TenLoai]) VALUES (2, N'Converse')
INSERT [dbo].[LOAI] ([MaLoai], [TenLoai]) VALUES (3, N'Nike')
SET IDENTITY_INSERT [dbo].[LOAI] OFF
SET IDENTITY_INSERT [dbo].[NHACC] ON 

INSERT [dbo].[NHACC] ([MaNCC], [TenNNC], [DiaChi], [SDT]) VALUES (1, N'Adidas', NULL, NULL)
INSERT [dbo].[NHACC] ([MaNCC], [TenNNC], [DiaChi], [SDT]) VALUES (2, N'Converse', NULL, NULL)
INSERT [dbo].[NHACC] ([MaNCC], [TenNNC], [DiaChi], [SDT]) VALUES (3, N'Nike', NULL, NULL)
SET IDENTITY_INSERT [dbo].[NHACC] OFF
SET IDENTITY_INSERT [dbo].[SANPHAM] ON 

INSERT [dbo].[SANPHAM] ([MaSP], [TenSP], [MaLoai], [DonGia], [MoTa], [SLTon], [MaNCC], [NgayCapNhat], [Anh]) VALUES (1, N'Adidas Tubular(All white)', 1, 2800000, N'Giày Adidas Tubular Ưhite', 10, 1, CAST(N'2017-07-24' AS Date), N'giay1.jpg')
INSERT [dbo].[SANPHAM] ([MaSP], [TenSP], [MaLoai], [DonGia], [MoTa], [SLTon], [MaNCC], [NgayCapNhat], [Anh]) VALUES (2, N'Adidas Tubularr(Red)', 1, 2800000, N'Giày Adidas Tubular Red', 9, 1, CAST(N'2017-07-24' AS Date), N'giay2.jpg')
INSERT [dbo].[SANPHAM] ([MaSP], [TenSP], [MaLoai], [DonGia], [MoTa], [SLTon], [MaNCC], [NgayCapNhat], [Anh]) VALUES (3, N'Adidas Tubularr(Blue)', 1, 2800000, N'Giày Adidas Tubular Blue', 8, 1, CAST(N'2017-07-24' AS Date), N'giay3.jpg')
SET IDENTITY_INSERT [dbo].[SANPHAM] OFF
ALTER TABLE [dbo].[HOADON] ADD  CONSTRAINT [DF_DONDATHANG_Tinhtrangdonhang]  DEFAULT ((0)) FOR [TinhTrangHD]
GO
ALTER TABLE [dbo].[HOADON] ADD  CONSTRAINT [DF_DONDATHANG_Thanhtoan]  DEFAULT ((0)) FOR [ThanhToan]
GO
ALTER TABLE [dbo].[CTDDH]  WITH CHECK ADD  CONSTRAINT [FK_CTDDH_DONDATHANG] FOREIGN KEY([MaDDH])
REFERENCES [dbo].[DONDATHANG] ([MaDDH])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CTDDH] CHECK CONSTRAINT [FK_CTDDH_DONDATHANG]
GO
ALTER TABLE [dbo].[CTDDH]  WITH CHECK ADD  CONSTRAINT [FK_CTDDH_SANPHAM] FOREIGN KEY([MaSP])
REFERENCES [dbo].[SANPHAM] ([MaSP])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CTDDH] CHECK CONSTRAINT [FK_CTDDH_SANPHAM]
GO
ALTER TABLE [dbo].[CTHD]  WITH CHECK ADD  CONSTRAINT [FK_CTHD_HOADON] FOREIGN KEY([MaHD])
REFERENCES [dbo].[HOADON] ([MaHD])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CTHD] CHECK CONSTRAINT [FK_CTHD_HOADON]
GO
ALTER TABLE [dbo].[CTHD]  WITH CHECK ADD  CONSTRAINT [FK_CTHD_SANPHAM] FOREIGN KEY([MaSP])
REFERENCES [dbo].[SANPHAM] ([MaSP])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CTHD] CHECK CONSTRAINT [FK_CTHD_SANPHAM]
GO
ALTER TABLE [dbo].[DANHGIA]  WITH CHECK ADD  CONSTRAINT [FK_DANHGIA_KHACHHANG] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KHACHHANG] ([MaKH])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DANHGIA] CHECK CONSTRAINT [FK_DANHGIA_KHACHHANG]
GO
ALTER TABLE [dbo].[DANHGIA]  WITH CHECK ADD  CONSTRAINT [FK_DANHGIA_SANPHAM] FOREIGN KEY([MaSP])
REFERENCES [dbo].[SANPHAM] ([MaSP])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DANHGIA] CHECK CONSTRAINT [FK_DANHGIA_SANPHAM]
GO
ALTER TABLE [dbo].[DONDATHANG]  WITH CHECK ADD  CONSTRAINT [FK_DONDATHANG_KHACHHANG] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KHACHHANG] ([MaKH])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[DONDATHANG] CHECK CONSTRAINT [FK_DONDATHANG_KHACHHANG]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_KHACHHANG] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KHACHHANG] ([MaKH])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_KHACHHANG]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_SANPHAM_LOAI] FOREIGN KEY([MaLoai])
REFERENCES [dbo].[LOAI] ([MaLoai])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [FK_SANPHAM_LOAI]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_SANPHAM_NHACC] FOREIGN KEY([MaNCC])
REFERENCES [dbo].[NHACC] ([MaNCC])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [FK_SANPHAM_NHACC]
GO
ALTER TABLE [dbo].[CTHD]  WITH CHECK ADD  CONSTRAINT [CK_CTDDH_SL] CHECK  (([SoLuong]>=(0)))
GO
ALTER TABLE [dbo].[CTHD] CHECK CONSTRAINT [CK_CTDDH_SL]
GO
ALTER TABLE [dbo].[DONDATHANG]  WITH CHECK ADD  CONSTRAINT [CK_DONDATHANG_NGAYDAT] CHECK  (([NgayDDH]<=getdate()))
GO
ALTER TABLE [dbo].[DONDATHANG] CHECK CONSTRAINT [CK_DONDATHANG_NGAYDAT]
GO
ALTER TABLE [dbo].[DONDATHANG]  WITH CHECK ADD  CONSTRAINT [CK_DONDATHANG_NGAYGIAO] CHECK  (([NgayGiaoHang]>=getdate()))
GO
ALTER TABLE [dbo].[DONDATHANG] CHECK CONSTRAINT [CK_DONDATHANG_NGAYGIAO]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [CK_HOADON_NGAYDAT] CHECK  (([NgayDat]<=getdate()))
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [CK_HOADON_NGAYDAT]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [CK_HOADON_NGAYGIAO] CHECK  (([NgayGiao]>=getdate()))
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [CK_HOADON_NGAYGIAO]
GO
ALTER TABLE [dbo].[KHACHHANG]  WITH CHECK ADD  CONSTRAINT [CK_KHACHHANG_EMAIL] CHECK  (([Email] like '%@%'))
GO
ALTER TABLE [dbo].[KHACHHANG] CHECK CONSTRAINT [CK_KHACHHANG_EMAIL]
GO
ALTER TABLE [dbo].[KHACHHANG]  WITH CHECK ADD  CONSTRAINT [CK_KHACHHANG_NGAYSINH] CHECK  (([NgaySinh]<getdate()))
GO
ALTER TABLE [dbo].[KHACHHANG] CHECK CONSTRAINT [CK_KHACHHANG_NGAYSINH]
GO
ALTER TABLE [dbo].[KHACHHANG]  WITH CHECK ADD  CONSTRAINT [CK_KHACHHANG_SDT] CHECK  (([SDT] like '[0][0-9][0-9][0-9][0-9][0-9][0-9][0-9]' OR [SDT] like '[0][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]' OR [SDT] like '[0][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]' OR [SDT] like '[0][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9'))
GO
ALTER TABLE [dbo].[KHACHHANG] CHECK CONSTRAINT [CK_KHACHHANG_SDT]
GO
ALTER TABLE [dbo].[NHACC]  WITH CHECK ADD  CONSTRAINT [CK_NHACC_SDT] CHECK  (([SDT] like '[0][0-9][0-9][0-9][0-9][0-9][0-9][0-9]' OR [SDT] like '[0][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]' OR [SDT] like '[0][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]' OR [SDT] like '[0][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9'))
GO
ALTER TABLE [dbo].[NHACC] CHECK CONSTRAINT [CK_NHACC_SDT]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [CK_DONGIA] CHECK  (([DonGia]>=(0)))
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [CK_DONGIA]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [CK_NGAYCAPNHAT] CHECK  (([NgayCapNhat]<=getdate()))
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [CK_NGAYCAPNHAT]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [CK_SLTON] CHECK  (([SLTon]>=(0)))
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [CK_SLTON]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Email chưa đúng định dạng' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'KHACHHANG', @level2type=N'CONSTRAINT',@level2name=N'CK_KHACHHANG_EMAIL'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Ngày sinh phải trước ngày hiện hành' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'KHACHHANG', @level2type=N'CONSTRAINT',@level2name=N'CK_KHACHHANG_NGAYSINH'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'SDT chưa đúng định dạng' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'KHACHHANG', @level2type=N'CONSTRAINT',@level2name=N'CK_KHACHHANG_SDT'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Số điện thoại không đúng định dạng' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'NHACC', @level2type=N'CONSTRAINT',@level2name=N'CK_NHACC_SDT'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Đơn giá phải lớn hơn 0' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SANPHAM', @level2type=N'CONSTRAINT',@level2name=N'CK_DONGIA'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Ngày cập nhật phải trước ngày hiện hành' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SANPHAM', @level2type=N'CONSTRAINT',@level2name=N'CK_NGAYCAPNHAT'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Đơn giá phải lớn hơn 0' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SANPHAM', @level2type=N'CONSTRAINT',@level2name=N'CK_SLTON'
GO
USE [master]
GO
