
@{
    ViewBag.Title = "Gioithieu";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2 class="title text-center">GIỚI THIỆU</h2>

<p>Trong thời kì hội nhập toàn cầu, S-Shoes nhận thức trách nhiệm lớn lao trong việc đề ra con đường phát triển trong tương lai vốn ẩn chứa nhiều cơ hội và thử thách. Việc đặt ra các giá trị trên đã, đang và sẽ giúp định hướng cho chúng tôi khi đặt ra mục tiêu và hành động để đạt được mục tiêu. Hơn nữa, những giá trị nền tảng này giúp S-Shoes khẳng định vị thế của doanh nghiệp trong lòng người tiêu dùng trong nước từ đó chinh phục những thị trường trong nước và ngoài nước.</p>
<p>Giá Trị Nền Tảng
Tại S-Shoes, chúng tôi tin rằng văn hóa công ty với 6 giá trị nền tảng là định hướng lâu dài để phát triển vững bền.<br />
Uy tín đi đầu<br />
Chất lượng đảm bảo<br />
Đổi mới không ngừng<br />
Chung sức tạo ra lợi nhuận<br />
Thúc đẩy công ty phát triển<br />
Góp phần xây dựng xã hội giàu mạnh</p><br />
<p>Từ quan niệm: mỗi thành viên đều đóng vai trò quan trọng vào sự phát triển chung của doanh nghiệp, S-Shoes xây dựng cách ngôn phấn đấu làm kim chỉ nam hành động cho toàn bộ đội ngũ nhân viên.<br />

Đẩy mạnh cải cách – Dũng cảm sáng tạo<br />
Kiểm soát và hành động<br />

Mạnh dạn đột phá – Đề ra biện pháp<br />
Kiểm soát và hành động</p>
