@model MVCGIAY.Models.LOAI

@{
    ViewBag.Title = "Xoaloai";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 class="title text-center">XÓA LOẠI SẢN PHẨM</h2>

<h3>Bạn có chắc muốn xoasa loại sản phẩm này</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenLoai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenLoai)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default" /> |
            <div class="btn btn-default">@Html.ActionLink("Trở về", "AdminLoai")</div>
        </div>
    }
</div>
